_ReSharper.*
*.[Rr]eSharper.user
*.csproj.user
*.ncb
*.aps
*.suo
DearlyBuilder/TestOutput/
TestResult.xml
Tests.VisualState.xml
[Bb]in
[Oo]bj
[Rr]elease
[Dd]ebug
*.bak
*.manifest
*.exe
*.dll
*.pdb
*.cache
*.suo
*.orig
*.user
*.vspscc
LastBuild.log
.svn
.DS_Store
*.MDF
*.LDF